body {
  background-color: #ffffff;
  color: #000000;
}

nav {
  background-color: #f2f2f2;
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  font-size: 1em;
  margin: 0 auto;
  width: 50%;
}

body {
  font-size: 1em;
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
  line-height: 2.5em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.2em;
}

p {
  font-size: 100%;
}

a {
  text-decoration: none;
}

a:hover {
    color: yellow;
}
